# Ignore datasets
*.csv
*.pkl
*.xlsx
*.json

# Ignore dataset folders (if any)
data/
datasets/
S2/
S3/
S4/
S5/
S6/
S7/
S8/
S9/
S10/
S11/
S13/
S14/
S15/
S16/
S17/


# Ignore large files
*.zip
*.tar
*.gz